* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
}

.mainContainer {
    width: 60%;
    height: auto;
    margin: auto;
    background-color: white;
    /*background-color: rgb(192,192,192);*/
}

.container1 {
    width: 50%;
    height: auto;
    margin: auto;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25.00%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50.00%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75.00%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*='col-'] {
    float: left;
    border: 1px solid red;
}

.row:after {
    content: ' ';
    display: block;
    clear: both;
}

.menu-height {
    height: 200px;
}

.container {
    height: 400px
}


/* ************* Responsive Start ****************** */

@media screen and (max-width:500px) {
    [class*='col-'] {
        width: 100%;
    }
    .visibilityUltraSmall {
        display: none;
    }
}

@media screen and (min-width:500px) and (max-width:600px) {
    .col-s1 {
        width: 8.33%
    }
    .col-s2 {
        width: 16.66%
    }
    .col-s3 {
        width: 25%
    }
    .col-s4 {
        width: 33.33%
    }
    .col-s5 {
        width: 41.66%
    }
    .col-s6 {
        width: 50%
    }
    .col-s7 {
        width: 58.33%
    }
    .col-s8 {
        width: 66.66%
    }
    .col-s9 {
        width: 75%
    }
    .col-s10 {
        width: 83.33%
    }
    .col-s11 {
        width: 91.66%
    }
    .col-s12 {
        width: 100%
    }
    .test {
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .row {
        position: relative;
    }
    .visibilityforSmall {
        display: none;
    }
}

@media screen and (min-width:600px) and (max-width:1100px) {
    .col-m1 {
        width: 8.33%
    }
    .col-m2 {
        width: 16.66%
    }
    .col-m3 {
        width: 25%
    }
    .col-m4 {
        width: 33.33%
    }
    .col-m5 {
        width: 41.66%
    }
    .col-m6 {
        width: 50%
    }
    .col-m7 {
        width: 58.33%
    }
    .col-m8 {
        width: 66.66%
    }
    .col-m9 {
        width: 75%
    }
    .col-m10 {
        width: 83.33%
    }
    .col-m11 {
        width: 91.66%
    }
    .col-m12 {
        width: 100%
    }
    .test {
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .row {
        position: relative;
    }
    .visibilityformediuam {
        display: none;
    }
}